<div class="certitab">
    <a routerLink="/">Home</a> / <a routerLink="/training-certifications">Training&amp;Certifications</a> / <a routerLink="/certifications">Certifications</a> / Advanced Certificate in UIUX....
</div>

<div class="container">
    <div class="column1">
        <div class="tool">
            <ul id="train">
                <li><a href="" style="text-decoration: none; font-size: large; color: gray;">About</a></li>
                <li><a href="" style="text-decoration: none; font-size: large; color: gray; padding-left: 50px;">How Its Works</a></li>
                <li><a href="" style="text-decoration: none; font-size: large; color: gray; padding-left: 50px;">Syllabus</a></li>
                <li><a href="" style="text-decoration: none; font-size: large; color: gray; padding-left: 50px;">FAQ</a></li>
            </ul>
        </div>
        
        <div class="div1">
            
            <div class="parabutton">
                <input type="button" value="Send Request" style="background-color: black; color: white; border-radius: 5px; height: 25px;">
            </div>
        </div>
    </div>

    <div class="column2">
        <div class="sidebar">
            <p><strong>About the Certificate</strong></p>
            <p><strong>Shareable Certificate</strong></p>
            <p><img src="" alt="">Earn a Certificate upon completion</p>
            <p><strong>100% online courses</strong></p>
            <p>Start instantly and learn at your own schedule.</p>
            <p><strong>Shareable Certificate</strong></p>
            <p>Earn a Certificate upon completion</p>
            <p><strong>Flexible Schedule</strong></p>
            <p>Set and maintain flexible deadlines.</p>
            <p><strong>Beginner Level</strong></p>
            <p>No degree or prior experience required</p>
            <p><strong>Approximately 6 months to complete</strong></p>
            <p>Suggested pace of 10 hours/week</p>
            <p><strong>English</strong></p>
            <p>Subtitles: English, Arabic, French, Portuguese (European), Italian, Portuguese (Brazilian), Vietnamese, German, Russian, Spanish</p>
        </div>
    </div>
</div>

