<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="./assets/img/img10.jpg" class="card-img-top" alt="image1">
                    <div class="card-body">
                        <h5 class="card-title">Visuals Placers</h5>
                        <p class="card-text">By Ravindra Rajan</p>
                        <button type="button" class="btn btn-dark"
                            style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem; color: aliceblue;">Download</button><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-download"
                            viewBox="0 0 16 16" style="margin-left:7%;">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        <span>10 downloads</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="./assets/img/img11.jpg" class="card-img-top" alt="image1">
                    <div class="card-body">
                        <h5 class="card-title">Beyond Diversity In Ux</h5>
                        <p class="card-text">By Kalyan Ram</p>
                        <button type="button" class="btn btn-dark"
                            style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem; color: aliceblue;">Download</button><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-download"
                            viewBox="0 0 16 16" style="margin-left:7%;">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        <span>10 downloads</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="./assets/img/img12.jpg" class="card-img-top" alt="image1">
                    <div class="card-body">
                        <h5 class="card-title">That Freelancer Book</h5>
                        <p class="card-text">By Dann Patty</p>
                        <button type="button" class="btn btn-dark"
                            style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem; color: aliceblue;">Download</button><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-download"
                            viewBox="0 0 16 16" style="margin-left:7%;">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        <span>10 downloads</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <img src="./assets/img/img13.jpg" class="card-img-top" alt="image1">
                    <div class="card-body">
                        <h5 class="card-title">Feasts Before Beast</h5>
                        <p class="card-text">By Belinda Kou</p>
                        <button type="button" class="btn btn-dark"
                            style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem; color: aliceblue;">Download</button><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-download"
                            viewBox="0 0 16 16" style="margin-left:7%;">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        <span>10 downloads</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="./assets/img/img14.jpg" class="card-img-top" alt="image1">
                    <div class="card-body">
                        <h5 class="card-title">Our Stories In Stem</h5>
                        <p class="card-text">By Aaiman Aamir</p>
                        <button type="button" class="btn btn-dark"
                            style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem; color: aliceblue;">Download</button><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-download"
                            viewBox="0 0 16 16" style="margin-left:7%;">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        <span>10 downloads</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="./assets/img/img15.jpg" class="card-img-top" alt="image1">
                    <div class="card-body">
                        <h5 class="card-title">What Tech Calls Think</h5>
                        <p class="card-text">By Aaiman Aamir</p>
                        <button type="button" class="btn btn-dark"
                            style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem; color: aliceblue;">Download</button><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-download"
                            viewBox="0 0 16 16" style="margin-left:7%;">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        <span>10 downloads</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <img src="./assets/img/img16.jpg" class="card-img-top" alt="image1">
                    <div class="card-body">
                        <h5 class="card-title">Think Out Of The Box</h5>
                        <p class="card-text">By Mark Boulton</p>
                        <button type="button" class="btn btn-dark"
                            style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem; color: aliceblue;">Download</button><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-download"
                            viewBox="0 0 16 16" style="margin-left:7%;">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        <span>10 downloads</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="./assets/img/img17.png" class="card-img-top" alt="image1">
                    <div class="card-body">
                        <h5 class="card-title">The Shape Of Design</h5>
                        <p class="card-text">By Bob Moesta</p>
                        <button type="button" class="btn btn-dark"
                            style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem; color: aliceblue;">Download</button><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-download"
                            viewBox="0 0 16 16" style="margin-left:7%;">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        <span>10 downloads</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="./assets/img/img18.avif" class="card-img-top" alt="image1">
                    <div class="card-body">
                        <h5 class="card-title">Think Out Of The Box</h5>
                        <p class="card-text">By Mark Boulton</p>
                        <button type="button" class="btn btn-dark"
                            style="--bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem; color: aliceblue;">Download</button><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-download"
                            viewBox="0 0 16 16" style="margin-left:7%;">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        <span>10 downloads</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <nav aria-label="Page navigation example" style="margin-left: 30%;">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true" style="color:black">&lt;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" >
                    <font color="Black">1</font>
                </a></li>
            <li class="page-item"><a class="page-link" >
                    <font color="Black">2</font>
                </a></li>
            <li class="page-item"><a class="page-link" >
                    <font color="Black">3</font>
                </a></li>
            <li class="page-item"><a class="page-link"  aria-label="Next">
                    <span aria-hidden="true" style="color:black">&gt;</span>
                </a>
            </li>
        </ul>
    </nav>


</body>