<ul class="nav">
    <li class="nav-item">
      <a class="nav-link text-secondary" id="a1" href="#" style="font-size: 20px;">Table of Content</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" id="a2" href="#" style="font-size: 20px;">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" id="a3" href="#" style="font-size: 20px;">Transcript</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" id="a4" href="#" style="font-size: 20px;">Exercise Files</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary" id="a5" href="#" style="font-size: 20px;">Course Review</a>
    </li>
</ul>