<div style="margin-top: 300px; padding-left: 500px;">
    <img src="assets/ses.png" alt="Image Description">



    <div class="row" style="margin-top: 150px;">
        <div class="col-sm-3">
          <div class="card card-block border-0" style="width: 496px;">
            <img class="card-img-top" src="assets/not.jpeg" alt="Card Image" style="height: 496px; width: 100%; object-fit: cover;">
            <div class="card-block">
              <h5 class="card-text" style="margin-bottom: 15px;">Cooking should be easy and enjoyable.</h5>
              <a href="#" class="btn btn-primary btn-light">Read more -></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card card-block border-0" style="width: 496px;">
            <img class="card-img-top" src="assets/pot.jpg" alt="Card Image" style="height: 496px; width: 100%; object-fit: cover;">
            <div class="card-block">
              <h5 class="card-text" style="margin-bottom: 15px;">7 emotional mistakes even intelligent people make</h5>
              <a href="#" class="btn btn-primary btn-light">Read more -></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card card-block border-0" style="width: 496px;">
            <img class="card-img-top" src="assets/aut.jpg" alt="Card Image" style="height: 496px; width: 100%; object-fit: cover;">
            <div class="card-block">
              <h5 class="card-text" style="margin-bottom: 15px;">Colour Psychology: How colors impact human behavior</h5>
              <a href="#" class="btn btn-primary btn-light">Read more -></a>
            </div>
          </div>
        </div>
      </div>
      