<ul class="nav">
    <li class="nav-item">
      <a class="nav-link text-secondary" id="a1" routerLink="/description" style="font-size:20px;">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" id="a2" routerLink="/reviews" style="font-size:20px;">Reviews</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" id="a3" routerLink="/discussion" style="font-size:20px;">Discussion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" id="a4" routerLink="/resources" style="font-size:20px;">Resources</a>
    </li>
  </ul>
  
  
